.image-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-decoration: none;
}

.info-item {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  max-width: 350px;
  max-height: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 10px;
}
/* розміщення по центру */
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-form input[type='text'] {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
}

.search-form button[type='submit'] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.load-more {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
